@font-face {
    font-family: 'ReemKufi';
    src: url('./assets/fonts/font.ttf');
}

body {
    font-family: 'ReemKufi';
    background: #F7F7F7;
}

.bg-fancy {
    background: #FF8E09;
}

.color-fancy {
    color: #FF8E09;
}